<% include header %>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io('/<%- adatok.ID %>');
    socket.on('hi',function(data){
        $('#timeticks').html(data);
    });

</script>
<% include navbar %>

<!-- main area -->
<div class="col-xs-12 col-sm-9">
    <h1>
        <% if(alive == 1){%><span class="glyphicon glyphicon-hdd" style="color: green;"></span><%}%>
        <% if(alive == 0){ %><span class="glyphicon glyphicon-hdd" style="color: red;"></span><%}%>
        <%= adatok.NAME %> eszköz adatai
    </h1>
    <div class="info_box">
       <table>
           <tbody id="data_section">
           <tr>
               <td><strong>Alap adatok</strong></td>
               <td></td>
           </tr>
           <tr>
               <td width="150px"><b>Cím:</b></td>
               <td><%= (typeof adatok.ADDRESS !== 'undefined') ? adatok.ADDRESS : '' %></td>
           </tr>
           <tr>
               <td> <b>Koordináták:</b>  </td>
               <td> <%= (typeof adatok.CORD1 !== 'undefined') ? adatok.CORD1 : '' %> <%= (typeof adatok.CORD1 !== 'undefined') ? adatok.CORD2 : '' %></td>
           </tr>
           <tr>
               <td> <b>Típus:</b>  </td>
               <td> <%= (typeof adatok.TYPE !== 'undefined') ? adatok.TYPE : '' %></td>
           </tr>
           <tr>
               <td> <b>IP cím:</b>  </td>
               <td> <%= (typeof adatok.IP !== 'undefined') ? adatok.IP : '' %> </td>
           </tr>
           <tr>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
           </tr>
           <tr>
               <td><strong>Alap SNMP adatok</strong></td>
               <td>&nbsp;</td>
           </tr>
           <tr>
               <td>Device name</td>
               <td><div id="device_name">
                       <%= (typeof snmp !== 'undefined') ? snmp[0].value : '' %>
                   </div></td>
           </tr>
           <tr>
               <td>Enterprise OID</td>
               <td><div id="en_oid"><%= (typeof snmp !== 'undefined') ? snmp[1].value : '' %></div></td>
           </tr>
           <tr>
               <td>Timeticks</td>
               <td><div id="timeticks"><%= (typeof snmp !== 'undefined') ? snmp[2].value : '' %></div></td>
           </tr>
           <tr>
               <td>Contact</td>
               <td><div id="contact"><%= (typeof snmp !== 'undefined') ? snmp[3].value : '' %></div></td>
           </tr>
           <tr>
               <td>System name</td>
               <td><div id="sys_name"><%= (typeof snmp !== 'undefined') ? snmp[4].value : '' %></div></td>
           </tr>
           <tr>
               <td>Location</td>
               <td><div id="location"><%= (typeof snmp !== 'undefined') ? snmp[5].value : '' %></div></td>
           </tr>
           </tbody>
       </table>
    </div>
    <a href="/detail/<%= adatok.ID %>/oid" class="btn btn-default">OID beállítás</a> <% if(alive == 1){ %><a href="/detail/<%= adatok.ID %>/snmpwalk" class="btn btn-default">OID futtatás</a><%}%><a href="/devices" class="btn btn-default">vissza</a>
</div><!-- /.col-xs-12 main -->
<% include footer %>

