<% include header %>
<script src="/socket.io/socket.io.js"></script>
<script>
     var socket = io();
     socket.on('broadcast',function(data){

             $('.clock').html(data.o);

     });

</script>
<% include navbar %>
<!-- main area -->
<div class="col-xs-12 col-sm-9">
    <h1><span class="glyphicon glyphicon-hdd"></span> Eszközök</h1>
    <form method="post" action="/search" class="col-md-4">
        <div class="col-md-9">
        <input type="text" class="form-control " id="search1" placeholder="Keresés név szerint" name="search"><br>
            </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span> Keresés</button><br>
        </div>
    </form>
    <table class="table">
        <thead>
        <th>NAME</th>
        <th>TYPE</th>
        <th>IP</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        </thead>
        <tbody>

        <% adatok.forEach(function(item){%>
        <tr>
            <td><%= item.NAME %></td>
            <td><%= item.TYPE %></td>
            <td><%= item.IP %></td>
            <td><div class="clock"></div></td>
            <td align="right"><a href="detail/<%= item.ID %>" class="btn btn-default detailbtn">Részletek </a> <a href="\delete\<%= item.ID %>" class="btn btn-danger detailbtn megerosites">Törlés</a></td>
        </tr>

        <% }); %>
        </tbody>
    </table>
    <% include areyousure %>
</div><!-- /.col-xs-12 main -->
<% include footer %>

