<% include header %>
<% include sidebar %>
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body">
        <h1><span class="glyphicon glyphicon-edit"></span> <%= adatok.NAME %> szerkesztése</h1>
        <form class="col-md-8" method="post" action="\save_changes\<%= adatok.ID %>">
            <div class="form-group">
                <label for="name">Név:</label>
                <input type="text" class="form-control" id="name" name="name" data-validation-help="Eszköz neve, vagy ami szerint azonosítani lehet." value="<%= adatok.NAME %>">
            </div>
            <div class="form-group">
                <label for="ip">IP cím:</label>
                <input type="text" class="form-control" id="ip" name="ip" data-validation-optional="true" data-validation-help="Eszköz IP címe. A megfelelő formátum: 0-255.0-255.0-255.0-255" data-validation="custom"  data-validation-regexp="^(?!0)(?!.*\.$)((1?\d?\d|25[0-5]|2[0-4]\d)(\.|$)){4}$" value="<%= adatok.IP %>">
            </div>
            <div class="form-group">
                <label for="sel1">Típus</label>
                <select class="form-control" id="sel1" name ="type">
                    <option selected><%= adatok.TYPE %></option>
                    <option>Router</option>
                    <option>Switch</option>
                    <option>Wireless</option>
                    <option>Egyéb</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comment">Megjegyzés:</label>
                <textarea class="form-control" rows="2" id="comment" name="comment" data-validation-help="Bármi plusz információ. "><%= (typeof adatok.DATA !== 'undefined') ? adatok.DATA : '' %></textarea>
            </div>
            <div class="form-group">
                <label for="address">Cím:</label>
                <input type="text" class="form-control" id="address" name="address" data-validation-help="A cím ahol megtalálható az eszköz." value="<%= (typeof adatok.ADDRESS !== 'undefined') ? adatok.ADDRESS : '' %>"><br>
                <input type="button" class="btn btn-default" value="Encode" onclick="codeAddress()">
            </div>
            <div class="form-group col-md-4">
                <label for="display_lat">Szélesség</label>
                <input type="text" class="form-control" id="display_lat" name="lat" value="<%= (typeof adatok.CORD1 !== 'undefined') ? adatok.CORD1 : '' %>">
            </div>
            <div class="form-group col-md-4">
                <label for="display_lng">Hosszúság</label>
                <input type="text" class="form-control" id="display_lng" name="lng" value="<%= (typeof adatok.CORD2 !== 'undefined') ? adatok.CORD2 : '' %>">
            </div>
            <div id="map" value=""></div><br>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Mentés"><br>
            </div>
        </form>
    </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
    $.validate();

    var geocoder;
    var map;

    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(46.927599, 17.828559);
        var mapOptions = {
            zoom: 12,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                document.getElementById('display_lat').value = results[0].geometry.location.lat();
                document.getElementById('display_lng').value = results[0].geometry.location.lng();

                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpr5RB7UfG5i3qHJGRimywcjPqqMHSiSA&callback=initialize"></script>
<% include footer %>

