<% include header %>

<% include navbar %>

<!-- main area -->
<div class="col-xs-12 col-sm-9">
    <h1><span class="glyphicon glyphicon-hdd"></span> <%= adatok.IP %> Interfészei</h1>
    <table class="table table-striped">
        <thead>
            <th>Index</th>
            <th>Description</th>
            <th>Type</th>
            <th>Speed</th>
        </thead>
        <tbody>
        <% tablazat.forEach(function(item){%>
        <tr>
            <td><%=item['0']%></td>
            <td><%=item['1']%></td>
            <td><%=item['2']%></td>
            <td><%=item['3']%></td>
        </tr>
        <%});%>
        </tbody>
    </table>
   </div><!-- /.col-xs-12 main -->
<% include footer %>

